AZURE_OPENAI_API_KEY=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

AZURE_OPENAI_ENDPOINT=https://processgenomeai-demo.openai.azure.com/

AZURE_OPENAI_API_VERSION=2024-02-15-preview

AZURE_OPENAI_CHAT_DEPLOYMENT=gpt-4o

AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-3-large
